.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.splash{
      // position: relative;
    width: 100%;
    height: 60vw;
    max-height: 600px;
    .slick-slider{
        .slick-list{
          	.slick-track img{
	            width: 100%;
	            height: 60vw;
              max-height: 600px;

          	}
        }
        button.slick-next, button.slick-prev{
        	display: none;
        }
        .slick-dots{
        	bottom:10px;
        }
    }
}


